.wholeItemDiv {
  border: 1px solid black;
  margin: 1%;
}

.cartDiv {
  overflow-y: scroll;
}

.wholeItemDiv {
  padding: 3%;
  border-radius: 2%;
}

.custHeading {
  font-weight: bold;
}

.pricenQty {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 3% 0px;
}

.qty {
  border: 2px double black;
  padding: 20%;
}

.itemImg {
  height: 70px;
  width: 30%;
}

.pizNameSize {
  width: 70%;
}

.imgName {
  display: flex;
  gap: 4%;
  align-items: center;
  padding-bottom: 8%;
}

.sizenCrust {
  font-weight: bold;
}
