.custMainDiv {
  padding: 10px 50px;
}

.custImage {
  height: 100%;
  width: 101%;
}

.pizzSizeDiv {
  display: flex;
  place-content: space-around;
  margin: 2%;
}

.indPizSize {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1%;
}

.pizsizeicon {
  height: 65px;
}

.pizzasize {
  font-size: 15px;
}

.mainCrustDiv {
  display: flex;
  border: 1px solid black;
  border-radius: 5%;
  margin: 2%;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  padding: 2%;
}

.parentcrustdiv {
  display: flex;
  overflow-x: auto;
}

.crustPrice {
  bottom: 0;
}
.crustName {
  width: 10vw;
}

.toppingsdiv {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.toppingsMainDiv {
  display: flex;
  margin: 2%;
  overflow-x: auto;
}

.toppName {
  width: 10vw;
}

.footerDiv {
  background-color: darkgreen;
  height: 2.5vw;
  position: sticky;
  bottom: 0px;
  color: white;
  
}
