.custMainDiv {
  padding: 10px 50px;
}

.custImage {
  height: 100%;
  width: 101%;
}

.pizzSizeDiv {
  display: flex;
  place-content: space-around;
  margin: 2%;
}

.indPizSize {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1%;
}

.pizsizeicon {
  height: 65px;
}

.pizzasize {
  font-size: 15px;
}

.mainCrustDiv {
  border: 1px solid black;
  border-radius: 5%;
  margin: 2%;
  position: relative;
}

.parentcrustdiv {
  display: flex;
}

.crustPrice {
  position: absolute;
  bottom: 0;
}
